<h3>Menu do sistema</h3>


<ul>
  <li>
    <%= link_to "Usuários", :controller => "users", :action => "index" %>
  </li>
  <li>
    <%= link_to "Groups", :controller => "groups", :action => "index" %>
  </li>
  <li>
    <%= link_to "Páginas", :controller => "pages", :action => "index" %>
  </li>
  <li>
    <%= link_to "Full Banner", :controller => "full_banners", :action => "index" %>
  </li>
   <li>
    <%= link_to "Popup", :controller => "popups", :action => "index" %>
  </li>
  <li>
    <%= link_to "Sair", :controller => "users", :action => "logout" %>
  </li>

</ul>
