<h1>Editing full_banner</h1>

<% form_for(@full_banner) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :file %><br />
    <%= f.text_field :file %>
  </p>
  <p>
    <%= f.label :link %><br />
    <%= f.text_field :link %>
  </p>
  <p>
    <%= f.label :date_begin %><br />
    <%= f.datetime_select :date_begin %>
  </p>
  <p>
    <%= f.label :date_end %><br />
    <%= f.datetime_select :date_end %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @full_banner %> |
<%= link_to 'Back', full_banners_path %>
