<h1>Listing pages</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Root page</th>
    <th>Title visibility</th>
    <th>Publish</th>
    <th>Restricted</th>
    <th>menu</th>
    
  </tr>

<% for page in @pages %>
  <tr>
    <td><%=h page.name %></td>
    <td><%=h page.parent.name unless page.parent.nil? %></td>
    <td><%=h page.title_visibility %></td>
    <td><%=h page.publish %></td>
    <td><%=h page.restricted %></td>
    <td><%=h page.is_menu %></td>
    <td><%= link_to 'Show', page, :class => "show" %></td>
    <td><%= link_to 'Edit', edit_page_path(page), :class => "edit" %></td>
    <td><%= link_to 'Add Groups', add_groups_page_path(page), :class => "groups", :title => "adicionar grupos" %></td>
    <td><%= link_to 'Add Popups', add_popups_page_path(page), :class => "popups", :title => "adicionar popups" %></td>
    <td><%= link_to 'Add Full_banners', add_full_banners_page_path(page), :class => "fullbanners" , :title => "adicionar full banners"%></td>
    <td><%= link_to 'Destroy', page, :confirm => 'Are you sure?', :method => :delete, :class => "delete" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New page', new_page_path %>
